src/autoyast-rnc/tftp-server.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

include "common.rnc"

tftp-server = element tftp-server {
  MAP,
  (
    element tftp_directory { STRING }? &
    element start_tftpd { BOOLEAN }?
  )
}
